<h1>Login</h1>
<%= form_with url: login_path, scope: :user do |form| %>
  <label for="username">
    Username
    <%= form.text_field :username, required: true %>
  </label>
  <label for="password">
    Password
    <%= form.password_field :password, required: true %>
  </label>
  <%= form.submit "Sign In" %>
<% end %>
