<h1>
    All Game posts
</h1>
<div>
    <% @game_posts.each do |game_post| %>
        <div>
            <%= game_post.name %> added by <%= game_post.user_owner&.username %>
        </div>
        <br>
        <h2>Confirmed members</h2>
        <% game_post.accepted_subscribers.each do |sub| %>
            <%= sub.username %>
        <% end %>
        
        <%= subscription_button_for(game_post) %>
        
    <% end %>
</div>