<div>
    <div>
        <h1 class="font-bold text-2xl">
            <%= link_to "Ruby learning journal", entries_path %>
        </h1>

        <div class="navbar-link">
            <%= link_to "Create Entry", new_entry_path, class: "btn btn-primary btn-lg rounded px-4" %>
        </div>
    </div>
</div>